body{
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
}
.section-cart-content, .section-footer,.newsletter__content{
    margin:0px 60px;
}
.space{
    height: 68px;
}
.header__nav{
    font-family: poppins;
    margin: 31px 60px;
}
.nav__logo{
    float: left;
}
.nav__menu button{
    display: none;
}
.nav__menu .navbar-collapse{
    display: block;
}
.nav__menu{
    text-align: center;
}

.nav__logo img{
    max-height: 28px;
    margin-top: 8px;
    margin-bottom: 35px;
}
.menu__list{
    margin-bottom: 0px;
}
ul.menu__list .menu__item{
    display: inline; 
    margin-left: 10px;
    margin-right: 10px;  
    text-align: left;
}
.menu__item .dropdown-content{
    padding: 20px 35px;
}
.menu__item .dropdown-content li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.menu__title{
    font-weight: 600;
}
ul.menu__list li a { 
    color: black; 
    font-size: 16px; 
    text-decoration:none; 
}
ul.menu__list li a:hover {
    color: rgb(254,79,24);
} 
.nav__setting{
    float: right;
    margin-bottom: 2px;
}
ul.menu__list .dropdown-content li a { 
    font-size: 14px; 
    font-weight: 400;
    text-decoration: none;
    line-height: 26px;
}
.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav__setting .dropbtn i{
    font-size: 20px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    
    display: none;
    position: absolute;
    right: -12px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18); 
    z-index: 1;
}

.blog, .pages{
    width: 200px;
}

.features .dropdown-content{
    right: -560px;
    width: 1100px;
}
.features__item__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.features__item__list a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(136,136,136);
}
.features__bottom{
    margin-top: 30px;
}

.features__top, .features__bottom__image{
    margin-right: -10px;
    margin-left: -10px;
}
.features__bottom__image{
    position: relative;
}
.features__bottom__image a .image__content:hover{
    color: rgb(254,79,24);
}
.features__bottom__image img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.image__content{
    position: absolute;
    bottom: 30%;
    left:5%;
    width: 100%;
    color: #fff;
}
.image__content__name{
    font-size: 20px;
}
.image__content__price{
    font-size: 30px;
}

.dropdown-content input {
    width: 500px;
    padding: 20px 20px;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

.cart__list{
    width: 375px;
    padding : 40px;
}
.dropdown:hover .dropdown-content {display: block;}
.dropbtn:hover{color: rgb(254,79,24);}
.cart__item__image img{
    float: left;
    padding-right: 25px;
}
.cart__product__item{
    font-size: 14px;
}
.cart__product__item .content{
    margin-bottom: 8px;
}
.cart__item__title{
    font-size: 14px;
    font-weight: 400;
}
.cart__item__price{
    color: rgb(254,79,24);
    font-family: lato;
    font-size: 17px;
    font-weight: 800;
}
.cart__item__quantity{
    font-size: 14px;
    font-weight: 600;
    color: rgb(104,104,104);
}
.cart__item__quantity .delete{
    margin-left: 40px;
}

.payment__list .payment__item .payment__title{
    float: left;
    font-size: 18px;
    font-weight: 500;
}
.payment__itemm{
    clear: both;
}
.payment__list .payment__item .payment__price{
    color: rgb(254,79,24);
    float: right;
    font-family: lato;
    font-size: 18px;
    font-weight: 900;
}
.cart__button button{
    margin-top: 35px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    background-color: rgb(254,79,24);
    height: 45px;
    border: none;
    border-bottom: 3px solid rgb(221,53,0);
}

.dropdown-content .menu{
    padding: 40px 40px 28px 40px;
    width: 280px;
}
.menu__top__title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom:25px;
}
.menu__top__list li{
    font-size: 13px;
    font-weight: 400;
    color: rgb(161,161,161);
    padding-bottom: 3px;
}
.menu__bottom{
    margin-top: 30px;
}
.menu__bottom__list__item {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
}
.menu__bottom__list__item i{
    color: rgb(254,79,24);
    padding-right: 15px;
}

ul{
    list-style: none;
    padding: 0px;
}

.nav__setting a{
    color: black;
}
.nav__setting a:hover{
    text-decoration: none;
    color: rgb(254,79,24);
}
.nav__setting__search{
    display: inline;
    font-size: 14px;
    font-weight: 400;
}

.nav__setting__cart{
    display: inline;
    margin-left: 30px;
    position: relative;
}
.cart__button button{
    border-radius: 0;
}
.num{
    font-family: lato;
    color: #fff;
    position: absolute;
    font-size: 12px;
    width: 17px;
    height: 17px;
    background: rgb(254,79,24);
    text-align: center;
    border-radius: 50%;
    bottom: 61%;
    left: 65%;
    font-weight: 400;
}
.nav__setting__menu{
    display: inline;
    margin-left: 30px;
}
.label__list{
    margin-bottom: 0px;
}
.section-page-title{
    background-color: rgb(244,244,245);
    padding-top: 50px;
    padding-bottom: 45px;
}
.page-title{
    text-align: center;
    font-family: poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 6px;
}
ul.breadcrumb {
    text-align: center;
    margin: 0px;
    list-style: none;
    background-color:rgb(244,244,245);
}
ul.breadcrumb li {
    display: inline;
    font-size: 13px;
    font-family: poppins;
}
ul.breadcrumb li+li:before {
    padding: 13px;
    color: rgb(215,215,215);
    content: "\2022";
}
ul.breadcrumb li a {
    color: rgb(102,102,102);
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: rgb(254,79,24);
    text-decoration: none;
}
section{
    font-family: poppins;
}
.section-cart-content{
    margin-top: 75px;
    margin-bottom: 75px;
}

.section-cart-content table {
    border-collapse: collapse;
    width: 100%;
}

.section-cart-content th, .section-cart-content td{
    padding: 15px;
    text-align: center;
}
.section-cart-content td{
    padding: 25px;
}
table, td, th{  
    border: 1px solid #e6e6e6;
}
.cart__product__quantity{
    margin-bottom: 10px;
}
.cart__product__quantity input[type="number"] {
    -moz-appearance: textfield;
    border: none;
    height: 40px;
    line-height: 40px;
    width: 38px;
    font-size: 15px;
    font-weight: 600;
    background: rgb(235,235,235);
    margin: 0 7px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.cart__product__quantity span{
    background-color: rgb(235,235,235);
    padding: 10px 7px;
    cursor: pointer;    
}
.cart__product__quantity span.minus{
    margin-left: 0px;   
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-action{
    border:none;
    font-size: 13px;
    padding: 5px;
    border-radius: 2px;
}
.btn-action:hover{
    background-color: rgb(254,79,24);
    color: #fff;
}
.cart__list__product{
    margin-bottom: 20px;
}
.cart__bottom .bottom__item{
    border: 1px solid #e6e6e6;
    padding: 20px;
    min-height: 230px;
    margin-bottom: 15px;
}
.bottom__note__title{
    font-size: 12px;
    margin-bottom: 10px;
}
.bottom__note__box{
    display: block;
}

.bottom__note__box textarea{
    width:100%;
    height: 160px;
    padding: 10px;
    background-color: rgb(244,244,245);
    border: none;
    overflow: auto;
    outline: none;
}
.bottom__note__title .btn-note{
    background-color: rgb(254,79,24);
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 0 5px;
    margin-right: 10px;
}
.cart__bottom .cart__bottom__total{
    text-align: right;
}
.cart__bottom__subtotal{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.cart__bottom__subtotal__title{
    margin-right: 15px;
}
.cart__bottom__subtotal__price{
    color: rgb(254,79,24);
}
.cart__bottom__shipping{
    font-style: italic;
    font-size: 13px;
    margin-bottom: 20px;
}
.newsletter{
    background-color: rgb(255,194,174);
    font-family: poppins;
    padding: 60px 0px 60px 0px;
    margin-top: 10px;
    
}
.newsletter__info{
    line-height: 50px;
    float: left;
}
.newsletter__info__signup{
    display: inline;
    font-size: 20px;
    font-weight: 600;
    padding: 60px 17px 60px 0px;
    background: url(../images/sent.png) no-repeat center;
}

.newsletter__info__text{
    display: inline;
    border-left: 2px solid rgb(220,174,159);
    font-size: 15px;
    font-weight: 300;
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.newsletter__form{
    float: right;   
}
.newsletter__form form{
    margin-bottom: 0px;
}
.newsletter__form input{
    border: none;
    height: 50px;
}
#search{
    width: 400px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    border-top: 1.5px solid #fff;
}
#submit{
    width: 149px;
    background-color: rgb(254,79,24);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-left: 8px;
    height: 49px;
    border-bottom: 2px solid rgb(221,53,0);
}
.section-footer{
    font-family: poppins;
}
.top__list__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 33px;
}
.top__list__logo img{
    width: 150px;
    height: 30px;
}
ul { list-style-type: none; }
.top__list__item{
    font-size: 14px;
    font-weight: 400;
}
.top__list__item__content{
    margin-bottom: 22px;
}
.item__contact{
    margin-bottom: 10px;
}
.item__contact i{
    color:rgb(254,79,24);
    padding-right: 8px;
}
.top__list__item ul{
    padding-left: 0px;
}
.top__list__item li{
    margin-bottom: 10px;
}
.top__list__item a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(108,108,108);
}
.top__list__item a:hover{
    text-decoration:none; 
    color: rgb(254,79,24);
}

.item__image{
    padding-bottom: 6px;
}
.item__image img{
    width: 100%;
    height: 84px;
    transition: .4s ease;
    object-fit: cover;
}

.item__image:hover img {
    opacity: 0.7;
}
.footer__top{
    margin-bottom: 30px;
}
.footer__top__list{
    margin-bottom: 30px;
}
.footer-insta .top__list__item .item-image{
    padding: 0px 3px;
}
.footer-insta .top__list__item .row{
    margin: 0px -6px;
}
.footer__bottom{
    border-top: 2px solid rgb(233,237,240);
    padding: 20px 0px;
}
.footer__bottom__left{
    float: left;
    font-size: 12px;
    font-weight: 400;
}
.footer__bottom__left span{
    color: rgb(254,79,24);
}
.footer__bottom__left a:hover{
    text-decoration:none; 
}
.footer__bottom__right{
    float: right;
    font-size: 13px;
    font-weight: 400;
}
.footer__bottom__right ul{
    margin-bottom: 0px;
}
.footer__bottom__right li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15px;
}
.footer__bottom__right a{
    color: rgb(136,136,136);
    text-decoration:none; 
}
.footer__bottom__right a:hover{
    color: rgb(254,79,24);
}
@media screen and (max-width: 1300px) {
    .newsletter .newsletter__info{
        float: none;
    }
    .newsletter .newsletter__form{
        margin-top: 30px;
        float: none;
    }
    .newsletter{
        text-align: center;
    }
}
@media screen and (max-width: 1200px) {
    .header__nav{
        font-family: poppins;
        margin: 31px 20px;
    }
    .newsletter__content,.section-footer, .section-page-content{
        margin-right: 20px;
        margin-left: 20px;
    }
    
}

@media screen and (max-width: 1024px) {
    .nav__menu{
        clear: both;
        display: block;
        background-color: rgb(255,194,174);
        text-align: left;
        padding: 10px;
    }
    .nav__setting{
        float: right;
    }
    .nav__menu button {
        display: block;
        border: none;
    }
    .nav__menu button.navbar-toggler{
        outline: none;
    }
    .header__nav .nav__menu .navbar-collapse{
        display: none;
    }
    .header__nav .nav__menu .navbar-collapse.in{
        display: block;
        background-color: rgb(255,194,174);
        margin-top: 20px;
    }
    .nav__menu ul.menu__list .menu__item{
        display: block; 
    }
    .menu__item .dropdown-content{
        position: static;
    }
    .menu__item .menu__title {
        line-height: 2.5;
    }
    .menu__item .dropbtn{
       padding: 0px;
    }
    .menu__item .features .features__bottom{
        display: none;
    }
    .menu__item .features .dropdown-content{
        width: auto;
    }
    .menu__item .features .features__item__title {
        margin-bottom: 10px;
    }
    .menu__item .features .features__top__list__item{
        margin-bottom: 20px;
    }
    .section-page-title{
        margin-bottom: 30px;
        padding: 15px 0px;
    }
    .section-cart-content td {
        padding: 10px;
    }
    .section-footer .top__list__title{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 992px) {
    .newsletter .newsletter__info__text{
        border: none;
    }
    .newsletter #search{
        width: 350px;
    }
}
@media screen and (max-width: 768px) {
    .section-footer .footer__bottom .footer__bottom__right, .section-footer .footer__bottom .footer__bottom__left{
        clear: both;
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .section-cart-content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .newsletter{
        padding-top: 0px;
    }
    .newsletter .newsletter__info__signup{
        display: block;
        padding: 30px 0px 10px 0px;
        background: url(../images/sent.png) no-repeat center;       
    }
    .newsletter .newsletter__info__text{
        border: none;
        padding: 0px;
    }
    th.price, td.price{
        display: none;
    }
}
@media screen and (max-width: 662px){
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.section-cart-content td{
        text-align: left;  
    }
	
	td { 
		border: none;
    }
    table{
        border: none;
    }
    tbody{
        border: none;
    }
    tr{
        border: 1px solid #e6e6e6;
        margin-bottom: 20px;
    }
	
    .section-cart-content{
        margin:50px 30px 50px 30px;       
    }
    td.total{
        font-size: 18px;
        font-weight: 600;
    }
    td.image{
        float: left;
        width: 53%;
    }
    td.image img{
        width: 100%;
        max-height: 168px;
        object-fit: contain;
    }
    .cart__bottom .cart__bottom__total button{
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 600px) {
    .newsletter #search{
        width: 245px;
    }
    .newsletter #submit{
        width: 115px;
    }
}
@media screen and (max-width: 414px) {
    .header__nav .nav__setting .nav__setting__cart{
        margin-left: 15px;
    }
    .header__nav .nav__setting__menu {
        margin-left: 15px;
    }
    .header__nav .nav__setting__cart .dropdown-content .cart__list {
        padding: 20px;
        width: 280px;
    }
    .header__nav .nav__setting__cart .dropdown-content{
        right:-40px;
    }
    .header__nav .nav__setting__search .dropdown-content{
        right: -50px;
    }
    .header__nav .nav__setting__search .dropdown-content input {
        width: 310px;
    }
    .newsletter #search{
        width: 230px;
    }
}
@media screen and (max-width: 400px) {
    .newsletter #search{
        width: 200px;
    }
}
@media screen and (max-width: 375px) {
    .newsletter .newsletter__info{
        line-height: 2;
    }
    .newsletter #search{
        width: 170px;
        border: none;
    }
    .newsletter #submit{
        width: 90px;
        font-size: 14px;
    }
    
}
@media screen and (max-width: 360px) {
    .header__nav .nav__setting__search .dropdown-content input {
        width: 290px;
    }
    td.quantity{
        clear: both;
    } 
}

@media screen and (max-width: 320px) {
    .header__nav .nav__setting__search .dropdown-content input {
        width: 255px;
    }
}
