body{
    font-family: 'Poppins', serif;
}
@font-face {
    font-family: myriad-pro;
    src:url('../fonts/MyriadProRegular.ttf')
}
.section-featured,.section-blog,.section-company,.section-footer,.newsletter__content{
    margin:0px 60px;
}
.section-best-selling{
    margin: 0px 60px;
}
.header__nav{
    font-family: poppins;
    margin: 31px 60px;
}
.nav__logo{
    float: left;
}
.nav__menu button{
    display: none;
}
.nav__menu .navbar-collapse{
    display: block;
}
.nav__menu{
    text-align: center;
}

.nav__logo img{
    max-height: 28px;
    margin-top: 8px;
    margin-bottom: 35px;
}
.menu__list{
    margin-bottom: 0px;
}
ul.menu__list .menu__item{
    display: inline; 
    margin-left: 10px;
    margin-right: 10px;  
    text-align: left;
}
.menu__item .dropdown-content{
    padding: 20px 35px;
}
.menu__item .dropdown-content li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.menu__title{
    font-weight: 600;
}
ul.menu__list li a { 
    color: black; 
    font-size: 16px; 
    text-decoration:none; 
}
ul.menu__list li a:hover {
    color: rgb(254,79,24);
} 
.nav__setting{
    float: right;
    margin-bottom: 2px;
}
ul.menu__list .dropdown-content li a { 
    font-size: 14px; 
    font-weight: 400;
    text-decoration: none;
    line-height: 26px;
}
.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav__setting .dropbtn i{
    font-size: 20px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    
    display: none;
    position: absolute;
    right: -12px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18); 
    z-index: 1;
}

.blog, .pages{
    width: 200px;
}

.features .dropdown-content{
    right: -560px;
    width: 1100px;
}
.features__item__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.features__item__list a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(136,136,136);
}
.features__bottom{
    margin-top: 30px;
}

.features__top, .features__bottom__image{
    margin-right: -10px;
    margin-left: -10px;
}
.features__bottom__image{
    position: relative;
}
.features__bottom__image a .image__content:hover{
    color: rgb(254,79,24);
}
.features__bottom__image img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.image__content{
    position: absolute;
    bottom: 30%;
    left:5%;
    width: 100%;
    color: #fff;
}
.image__content__name{
    font-size: 20px;
}
.image__content__price{
    font-size: 30px;
}

.dropdown-content input {
    width: 500px;
    padding: 20px 20px;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

.cart__list{
    width: 375px;
    padding : 40px;
}
.dropdown:hover .dropdown-content {display: block;}
.dropbtn:hover{color: rgb(254,79,24);}
.cart__item__image img{
    float: left;
    padding-right: 25px;
}
.cart__product__item{
    font-size: 14px;
}
.cart__product__item .content{
    margin-bottom: 8px;
}
.cart__item__title{
    font-size: 14px;
    font-weight: 400;
}
.cart__item__price{
    color: rgb(254,79,24);
    font-family: lato;
    font-size: 17px;
    font-weight: 800;
}
.cart__item__quantity{
    font-size: 14px;
    font-weight: 600;
    color: rgb(104,104,104);
}
.cart__item__quantity .delete{
    margin-left: 40px;
}

.payment__list .payment__item .payment__title{
    float: left;
    font-size: 18px;
    font-weight: 500;
}
.payment__itemm{
    clear: both;
}
.payment__list .payment__item .payment__price{
    color: rgb(254,79,24);
    float: right;
    font-family: lato;
    font-size: 18px;
    font-weight: 900;
}
.cart__button button{
    margin-top: 35px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    background-color: rgb(254,79,24);
    height: 45px;
    border: none;
    border-bottom: 3px solid rgb(221,53,0);
}

.dropdown-content .menu{
    padding: 40px 40px 28px 40px;
    width: 280px;
}
.menu__top__title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom:25px;
}
.menu__top__list li{
    font-size: 13px;
    font-weight: 400;
    color: rgb(161,161,161);
    padding-bottom: 3px;
}
.menu__bottom{
    margin-top: 30px;
}
.menu__bottom__list__item {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
}
.menu__bottom__list__item i{
    color: rgb(254,79,24);
    padding-right: 15px;
}

ul{
    list-style: none;
    padding: 0px;
}

.nav__setting a{
    color: black;
}
.nav__setting a:hover{
    text-decoration: none;
    color: rgb(254,79,24);
}
.nav__setting__search{
    display: inline;
    font-size: 14px;
    font-weight: 400;
}

.nav__setting__cart{
    display: inline;
    margin-left: 30px;
    position: relative;
}
.cart__button button{
    border-radius: 0;
}
.num{
    font-family: lato;
    color: #fff;
    position: absolute;
    font-size: 12px;
    width: 17px;
    height: 17px;
    background: rgb(254,79,24);
    text-align: center;
    border-radius: 50%;
    bottom: 61%;
    left: 65%;
    font-weight: 400;
}
.nav__setting__menu{
    display: inline;
    margin-left: 30px;
}
.label__list{
    margin-bottom: 0px;
}

.slider img {
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.slick-dots li button{
    position: absolute;
    bottom: 30px;  
}

.slick-dots li button:before {
    color: rgb(254,79,24) !important;
}

.slick-dots li.slick-active button::before {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(254,79,24);
    border-radius: 50%;
    font-size: 9px;
    line-height: 14px;
}


.slick-prev:after {
    content: url('../images/arrow-1.png');
    font-size: 20px;
    top: -4px;
    right: 7px;
    position: absolute;
}
.slick-next:after {
    content: url('../images/arrow-2.png');
    color: red;
    font-size: 20px;
    top: -4px;
    right: 0px;
    position: absolute;
}
.header__slider .slider img{
    padding: 0px 20px; 
}
.header__slider .slider{
    font-family: poppins;
}
.header__slider img{
    height: 750px;
  width: 100%;
}
.slider__content-1{
    position: absolute;
    bottom: 32%;
    left: 30%;
}
.slider__content-2{
    position: absolute;
    bottom: 32%;
    left: 50%;
}
.content-1{
    font-size: 42px;
    color: rgb(254,79,24);
    font-weight: 600;
    line-height: 70px;
}
.content-2{
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
}
.content-3{
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 11px;
}
.header__slider .btn{
    font-size: 17px;
    line-height: 35px;
    border-radius: 0;
    padding: 6px 25px 4px  25px;
    margin-top: 62px;
    background-color: rgb(254,79,24);
    font-weight: 600;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(221,53,0);
}
.service__list{
    margin: -14px 60px 0px 60px;
}

.service__list .ser{
    margin-bottom:15px;
}
.service__item{
    background-color: rgb(243,245,247);
    margin-right: -5px;
    margin-left:-5px;
    height: 100%;
    padding: 50px;
}
.service__item__icon{
    margin-top: 4px;
    float: left;
    margin-right: 15px;
}
.service__item:hover .service__item__icon img{
    transform: scale(1.1);
    cursor: pointer; 
    transition: transform .5s;
}

.service__item__content{
    float: left;
    font-family: poppins;
    word-wrap: break-word;
}

.service__item__content__title h6{
    font-size: 18px;
    font-weight: 600;
}
.service__item__content__description p {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 300;
}
.space{
    height: 68px;
}

.section__intro{
    text-align: center;
    margin-top: 60px;
}
.section-title {
    font-family: poppins;
    font-size: 27px;
    font-weight: 600;  
    margin-bottom: 10px;
}
.section-description{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: italic;  
    color: rgb(106,106,106);  
    margin-bottom:6px;     
}
.slick-slide{
    outline: none;
}
#best-selling_item{
    margin-bottom: 5px;
}
.products__item{
    padding: 5px;
    font-family: poppins;
    margin: 5px;
    width: 100%;
    position: relative;

}

.products__item:hover{
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18); 
    transition: 0.5s;
}

.products__item__image a{
    outline: none;
}

.products__item__info{
    text-align: center;
}
.products__item__name a{
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.products__item__type a{
    color: rgb(117,117,117);
    font-size: 13px;
    font-weight: 400;
}
.products__item__type{
    margin-top: 3px;
}
.products__item__price{
    font-size: 17px;
    font-family: lato;
    font-weight: 700;
    padding-top: 5px;
    color: rgb(254,79,24);
}
.old-price{
    font-family: lato;
    font-weight: 400;
    font-size: 13px;
    color: rgb(136,136,136);
    margin-right: 15px;
}
.products__item__add{
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.products__item:hover .products__item__add{
    visibility: visible;
    text-align: center;  
    transition: 0.5s;
     
}

.products__item__add button{
    margin-left: 22px;
    margin-right: 22px;
    padding: 7px 14px 5px 14px;
    font-size: 14px;
    font-weight: 600;
    border: 0px;
    border-bottom: 2px solid rgb(221,53,0);
    background-color: rgb(254,79,24);
    border-radius: 0;
}
.products__item:hover .products__item__add span a{
    font-size: 20px;
    font-weight: 400;
    color: rgb(40,42,41);
   
}
.slider .slick-slide .products__item__add img{
    height: 20px;
    width: 20px; 
    display: inherit;
}
.featured__list .products__item .products__item__add img{
    height: 20px;
    width: 20px; 
}
.active{
    color: red;
}

.products__item__image__bottom {
    text-align: center;
    visibility: hidden;  
}
.products__item__image__bottom i{
    font-size: 12px;
}
.products__item .products__item__image__bottom li{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.products__item:hover .products__item__image__bottom{
    visibility: visible;
    transition: 0.5s;
}
.products__item__add i{
    color:rgb(130,130,130);
}
.latest-collection{
  position: relative;
}

.latest-collection__item__image{
    margin-left: -5px;
    margin-right: -5px; 
    padding-top: 10px;
    padding-bottom: 10px;

}
.latest-collection__item__image img{
    width: 100%;
}
.latest-collection__box{
    top: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.latest-collection__box__item img{
    width: 100%;
}
.latest-collection__box__item{
   text-align: center;
    width:100%;
    height: 100%;
}

.latest-collection__box__item button{
    position: relative;
    bottom: 27%;
    background-color: rgb(254,79,24);
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid rgb(221,53,0);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;
}

.section-featured{
    margin-top: -8px;
}
.section-featured .section-description{
    margin-bottom: 0px;
}
.featured__list .row .featured__item{
    padding: 5px;
}
.featured__list .products__item img{
    width: 100%;
    padding-bottom: -5px;
}

.box-label{
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 1000;
    
}

.box-label button{
    background-color: rgb(254,79,24);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 0px 6px;
}


.slider .blog__item .blog__item__image img{
    height: 280px;
    object-fit: cover;
    transition: .5s ease;
    padding-left: 5px;
    padding-right: 5px;
}

.blog__item{
    margin-top: 10px;
}
.blog__item__image:hover img {
    opacity: 0.7;
}
.slider .blog__item .blog__item__info{
    margin-top: 18px;
    text-align: center;
    font-family: poppins;
}
.blog__item__info .blog__item__title{
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}
.blog__item__info .blog__item__title a{
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.blog__item__info .blog__item__title a:hover, .products__item a:hover{
    text-decoration: none;
    color: rgb(254,79,24);
}
.blog__item__info .blog__item__dated{
    font-size: 12px;
    color: rgb(108,108,108);
    font-weight: 400;
}
#company_items{
    margin-top: 45px;
    margin-bottom: 45px;
}
.section-company{
    border-top: 2px solid rgb(233,237,240);
    border-bottom: 2px solid rgb(233,237,240);
    margin-bottom: 10px;
    
}
.company__item__image{
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
}

#featured_item{
    margin-bottom: 10px;
}
#multiple_items{
    margin-bottom: 3px;
}
.newsletter{
    background-color: rgb(255,194,174);
    font-family: poppins;
    padding: 60px 0px 60px 0px;
    margin-top: 10px;
    
}
.newsletter__info{
    line-height: 50px;
    float: left;
}
.newsletter__info__signup{
    display: inline;
    font-size: 20px;
    font-weight: 600;
    padding: 60px 17px 60px 0px;
    background: url(../images/sent.png) no-repeat center;
}

.newsletter__info__text{
    display: inline;
    border-left: 2px solid rgb(220,174,159);
    font-size: 15px;
    font-weight: 300;
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.newsletter__form{
    float: right;
}
.newsletter__form input{
    border: none;
    height: 50px;
}
#search{
    width: 400px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    border-top: 1.5px solid #fff;
}
#submit{
    width: 149px;
    background-color: rgb(254,79,24);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-left: 8px;
    height: 49px;
    border-bottom: 2px solid rgb(221,53,0);
}
.section-footer{
    font-family: poppins;
}
.top__list__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 33px;
}
.top__list__logo img{
    width: 150px;
    height: 30px;
}
ul { list-style-type: none; }
.top__list__item{
    font-size: 14px;
    font-weight: 400;
}
.top__list__item__content{
    margin-bottom: 22px;
}
.item__contact{
    margin-bottom: 10px;
}
.item__contact i{
    color:rgb(254,79,24);
    padding-right: 8px;
}
.top__list__item ul{
    padding-left: 0px;
}
.top__list__item li{
    margin-bottom: 10px;
}
.top__list__item a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(108,108,108);
}
.top__list__item a:hover{
    text-decoration:none; 
    color: rgb(254,79,24);
}

.item__image{
    padding-bottom: 6px;
}
.item__image img{
    width: 100%;
    height: 84px;
    transition: .4s ease;
    object-fit: cover;
}

.item__image:hover img {
    opacity: 0.7;
}
.footer__top{
    margin-bottom: 30px;
}
.footer__top__list{
    margin-bottom: 30px;
}
.footer-insta .top__list__item .item-image{
    padding: 0px 3px;
}
.footer-insta .top__list__item .row{
    margin: 0px -6px;
}
.footer__bottom{
    border-top: 2px solid rgb(233,237,240);
    padding: 20px 0px;
}
.footer__bottom__left{
    float: left;
    font-size: 12px;
    font-weight: 400;
}
.footer__bottom__left span{
    color: rgb(254,79,24);
}
.footer__bottom__left a:hover{
    text-decoration:none; 
}
.footer__bottom__right{
    float: right;
    font-size: 13px;
    font-weight: 400;
}
.footer__bottom__right ul{
    margin-bottom: 0px;
}
.footer__bottom__right li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15px;
}
.footer__bottom__right a{
    color: rgb(136,136,136);
    text-decoration:none; 
}
.footer__bottom__right a:hover{
    color: rgb(254,79,24);
}

@media screen and (max-width: 1300px) {
    .header__slider .content-1{
        font-size: 32px;
    }
    .header__slider .content-2{
        font-size: 39px;
    }
    .header__slider .content-3{
        font-size: 18px;
    }
    .newsletter .newsletter__info{
        float: none;
    }
    .newsletter .newsletter__form{
        margin-top: 30px;
        float: none;
    }
    .newsletter{
        text-align: center;
    }
}
@media screen and (max-width: 1232px) {
    .service__item .service__item__icon img{
        width: 40px;
        height: 35px;
        object-fit: contain;
    }
    .service__item .service__item__content__title h6{
        font-size: 17px;
    }
    .service__item .service__item__content__description p {
        font-size: 13px;
    }
}
@media screen and (max-width: 1200px) {
    .header__nav{
        font-family: poppins;
        margin: 31px 20px;
    }
    .section-service .service__list,.section-featured,.newsletter__content,.section-footer{
        margin-right: 20px;
        margin-left: 20px;
    }
    .section-best-selling .latest-collection{
        margin-right: -40px;
        margin-left: -40px;
    }
    .service__item{
        text-align: center;
        padding: 20px;
    }
    .service__item .service__item__content{
        float: none;
    }
    .service__item .service__item__content__title h6{
        font-size: 18px;
    }
    .service__item .service__item__content__description p {
        font-size: 14px;
    }
    .service__item .service__item__icon{
        margin-bottom: 10px;
        float: none;
    }
    .service__item .service__item__icon img{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .nav__menu{
        clear: both;
        display: block;
        background-color: rgb(255,194,174);
        text-align: left;
        padding: 10px;
    }
    .nav__setting{
        float: right;
    }
    .nav__menu button {
        display: block;
        border: none;
    }
    .nav__menu button.navbar-toggler{
        outline: none;
    }
    .nav__menu .navbar-collapse{
        display: none;
        background-color: rgb(255,194,174);
        margin-top: 10px;
    }
    .nav__menu ul.menu__list .menu__item{
        display: block; 
    }
    .menu__item .dropdown-content{
        position: static;
    }
    .menu__item .menu__title {
        line-height: 2.5;
    }
    .menu__item .dropbtn{
       padding: 0px;
    }
    .menu__item .features .features__bottom{
        display: none;
    }
    .menu__item .features .dropdown-content{
        width: auto;
    }
    .menu__item .features .features__item__title {
        margin-bottom: 10px;
    }
    .menu__item .features .features__top__list__item{
        margin-bottom: 20px;
    }
    .header__slider .content-1{
        font-size: 28px;
    }
    .header__slider .content-2{
        font-size: 35px;
    }
    .header__slider .content-3{
        font-size: 16px;
    }
    .section-footer .top__list__title{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 992px) {
    .newsletter #search{
        width: 350px;
    }
}

@media screen and (max-width: 900px) {
    .header__slider{
        display: none;
    }
    .section-service{
        margin-top: -55px;
    }
}
@media screen and (max-width: 768px) {
    .section-best-selling .latest-collection__box{
        position: static;
    }
    .section-footer .footer__bottom .footer__bottom__right, .section-footer .footer__bottom .footer__bottom__left{
        clear: both;
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .newsletter{
        padding-top: 0px;
    }
    .newsletter .newsletter__info__signup{
        display: block;
        padding: 30px 0px 10px 0px;
        background: url(../images/sent.png) no-repeat center;       
    }
    .newsletter .newsletter__info__text{
        border: none;
        padding: 0px;
    }
    .service__item{
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .newsletter #search{
        width: 245px;
    }
    .newsletter #submit{
        width: 115px;
    }
    .service__item{
        text-align: left;
    }
    .service__item .service__item__content{
        float: left;
    }
    .service__item .service__item__icon{
        margin-bottom: 0px;
        float: left;
    }
    #company_items{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 414px) {
    .header__nav .nav__setting .nav__setting__cart{
        margin-left: 15px;
    }
    .header__nav .nav__setting__menu {
        margin-left: 15px;
    }
    .header__nav .nav__setting__cart .dropdown-content .cart__list {
        padding: 20px;
        width: 280px;
    }
    .header__nav .nav__setting__cart .dropdown-content{
        right:-40px;
    }
    .header__nav .nav__setting__search .dropdown-content{
        right: -50px;
    }
    .header__nav .nav__setting__search .dropdown-content input {
        width: 310px;
    }
    .newsletter #search{
        width: 230px;
    }
    section .section__intro{
        margin-top: 30px;
    }
    .slider .blog__item .blog__item__image img {
        height: 200px;
    }
}
@media screen and (max-width: 400px) {
    .newsletter #search{
        width: 200px;
    }
}
@media screen and (max-width: 375px) {
    .newsletter .newsletter__info{
        line-height: 2;
    }
    .newsletter #search{
        width: 170px;
        border: none;
    }
    .newsletter #submit{
        width: 90px;
        font-size: 14px;
    }
}
@media screen and (max-width: 360px) {
    .header__nav .nav__setting__search .dropdown-content input {
        width: 290px;
    }
    .service__item{
        text-align: left;
    }
    .service__item .service__item__content{
        float: left;
    }
    .service__item .service__item__icon{
        margin-bottom: 0px;
        float: left;
    }
    .newsletter .newsletter__info__text{
        word-break: normal;
        line-height: 0.5;
    }
    .slider .blog__item .blog__item__image img {
        height: 170px;
    }
}

@media screen and (max-width: 320px) {
    .header__nav .nav__setting__search .dropdown-content input {
        width: 255px;
    }
    .service__item .service__item__icon img{
        width: 45px;
        height: 40px;
        object-fit: contain;
    }
    .service__item .service__item__content__title h6{
        font-size: 17px;
    }
    .service__item .service__item__content__description p {
        font-size: 13px;
    }
    .products__item__add button{
        margin: 5px;
    }
}